$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../font/icon/fonts" !default;

$icon-marker: "\f041";
$icon-phone: "\f095";
$icon-facebook: "\f09a";
$icon-mail: "\f0e0";
$icon-linkedin: "\f0e1";
$icon-youtube: "\f16a";
$icon-instagram: "\f16d";
$icon-whatsapp: "\f232";


