$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../font/icon/fonts" !default;

$icon-arrow-right: "\e900";
$icon-clock: "\e901";
$icon-facebook: "\e902";
$icon-html5: "\e903";
$icon-instagram: "\e904";
$icon-linkedin: "\e905";
$icon-loading: "\e906";
$icon-logo: "\e907";
$icon-mail: "\e908";
$icon-phone: "\e909";
$icon-star: "\e90a";
$icon-target: "\e90b";
$icon-whatsapp: "\e90c";

