@use "../../abstracts/index" as *;

.hero{
   position: relative;
   width: 100%;
   background:{
      image: url("../images/background-hero.jpg");
      size: cover;
      position: center;
   }
   
   &__header{
      max-width: 56rem;
   }
}